@{
    ViewBag.Title = "WebCamTarget";
}
<h1 id="digit"></h1>
<canvas id="captured" width="640" height="480" class="webcamtarget-canvas"></canvas>
<canvas id="selection" width="640" height="480" class="webcamtarget-canvas"></canvas>

<div id="my_camera" hidden></div>
<button id="startButton" class="btn btn-success" title="Нажать, если камера зафиксирована">Старт!</button>
<p id="textOutput">Текст</p>

@Scripts.Render("~/Scripts/webcam")
@Scripts.Render("~/Scripts/rxjs")

@Scripts.Render("~/Scripts/app")
